<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="bankBatis.mappers.CreditAccountMapper">

    <resultMap id="CreditAccountResultMap" type="bankdao.entity.CreditAccount">
        <id property="accountId" column="account_id" />
        <result property="accountNumber" column="account_number" />
        <result property="balance" column="balance" />
        <result property="creditLimit" column="credit_limit" />
        <result property="interestRate" column="interest_rate" />
    </resultMap>

    <select id="getCreditAccountById" resultMap="CreditAccountResultMap">
        SELECT * FROM credit_account WHERE account_id = #{accountId}
    </select>

    <insert id="insertCreditAccount" parameterType="bankdao.entity.CreditAccount">
        INSERT INTO credit_account (account_id, account_number, balance, credit_limit, interest_rate)
        VALUES (#{accountId}, #{accountNumber}, #{balance}, #{creditLimit}, #{interestRate})
    </insert>

    <update id="updateCreditAccount" parameterType="bankdao.entity.CreditAccount">
        UPDATE credit_account
        SET account_number = #{accountNumber},
        balance = #{balance},
        credit_limit = #{creditLimit},
        interest_rate = #{interestRate}
        WHERE account_id = #{accountId}
    </update>

    <delete id="deleteCreditAccount" parameterType="int">
        DELETE FROM credit_account WHERE account_id = #{accountId}
    </delete>

</mapper>